@font-face {
    font-family: my;
    src: url('/module?=m.ttf');
}

body{
    transition: background 1s linear;
    -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}
h1{
    font-family: my;
    color:white;
}

.audiowindow{
	width:350px;
	height:370px;
	background-color: #272822;
}

.titlebar{
	background-color: #272822;
	height:20px;
	width:350px;
	box-shadow: 20px 20px 10px #000000;
}
.audio{
	background-color: #000000;
	height:350px;
	width:350px;
	box-shadow: 20px 20px 10px #000000;
}

.albumart{
	background:url('albumart.png')  no-repeat center center;
	background-size: 100% 100%;
	width:100%;
	height:80%;
	transition: background 1s linear;
    -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}
.info{
	background-color: rgba(39,40,34,0.7);
	width: 100%;
	height:24%;
}
#infobar{
	color : white;
	font-family: my;
	font-size: 24;
}
.seek{
	background-color: #FFFFFF;
	width: 100%;
	height:2%;
}
.doneseek{
	text-align: left;
	height:100%;
	background-color:#f92672 ;
}
.controls{
	height:19%;
	width:100%;
	background-color: #272822;
}
img{
	margin-top: 5px;
}

img:hover{
	opacity:0.8;
}

img:active{
	filter:invert(2);
}

table{
	border-style: dashed;
	border-width: 5px;
}
td{
	background-color: #FFFFFF;
	border-style: inset;
	border-width: 5px;
}